.techlist {
    &__title {

    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

.techlogo {
    p {
        text-align: center;
    }

    &__img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 10px;
    }
}